<app-menu></app-menu>
<div class="alert alert-danger" role="alert" *ngIf="sent">{{passwordMessage}}</div>
<div class="alert alert-danger" role="alert" *ngIf="passwordNotMatch">{{passwordNotMatch}}</div>
<div class="container" style="font-size: 20px">
  <div class="row">
    <div class="col-md-12 mb-2">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
        <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-12 mb-2">
    <mat-form-field>
      <mat-label>Confirm your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="Cpassword" required>
      <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    </div>
      <button class="mat-raised-button" color="link" target="_blank" [disabled]="!Cpassword || !password" (click)="change()">Change Password</button>
  </div>
</div>
