<app-menu></app-menu>
<div class="alert alert-danger" role="alert" *ngIf="roleErrorMessage">{{roleErrorMessage}}</div>
<div class="alert alert-danger" role="alert" *ngIf="userPasswordError">{{userPasswordError}}</div>
<div *ngIf="!forgotPassword" class="container" style="font-size: 20px">
  <div class="row">
    <div class="col-md-12 mb-2">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required>
    </mat-form-field>
    </div>
    <div class="col-md-12 mb-2">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
      <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    </div>

      <button class="mat-raised-button" color="link" target="_blank" [disabled]="!email || !password" (click)="login()">Login</button>
      <button mat-button color="accent" (click)="onClick()">Forgot your password?</button>
  </div>
</div>

  <div *ngIf="forgotPassword" class="container" style="font-size: 20px">
    <div class="row">
      <div class="col-md-12 mb-2">
      <div class="alert alert-danger" role="alert" *ngIf="!emailToResetPassword && emailField.touched">{{message}}</div>
      <div class="alert alert-success" role="alert" *ngIf="sent">{{message}}</div>
      </div>
      <div class="col-md-12 mb-2">
        <mat-form-field>
          <mat-label>Email address</mat-label>
          <input matInput #emailField="ngModel" type="email" name="emailToResetPassword" [(ngModel)]="emailToResetPassword" required>

        </mat-form-field>
        </div>
      <button mat-raised-button color="accent" target="_blank" [disabled]="!emailToResetPassword" (click)="emailSent()">Send</button>
  </div>
  </div>


