  .container .mat-form-field + .mat-form-field {
    margin-left: 20px;
    opacity: 0.3;
  }

  .container{

    margin-top: 100px;
  }

  .example-right-align {
    text-align: right;
  }

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  input.example-right-align {
    -moz-appearance: textfield;
  }
  .mat-form-field
  {
    padding: 15px;
    height: 32px;
    size: 32px;
  }
  input
  {
    width: 90% !important;
  }
  .container
  {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 60%;
    border-radius: 80px;
    padding: 10px;
  }
  .mat-raised-button
  {
    display:inline;
    left: 100%;
    justify-content: right;
    align-items: right;
  }
  .mat-button
  {
    display:inline;
    right: 25%;
    justify-content: left !important;
    align-items: left !important;
  }

  .mat-flat-button
  {
    padding: 10px 10px;
    border-radius: 2px;
    border-color: salmon;
  }

  mat-form-field {
    margin-left: 2.5rem !important;
    width: calc(100% - 2.5rem) !important;
  }
  .alert
  {
    text-align: center;
    margin-left: 400px;
    margin-right:400px;
  }

