<app-menu [numberOfAppointments]="numberOfAppointments"></app-menu>


  <div class="card gradient-card" *ngIf="!noData">
    <div class="card-image">
      <a>
        <div class="text-black d-flex h-100 mask blue-gradient-rgba">
          <div class="first-content align-self-center p-3">
          <h2 class="card-title">{{patient.lastname+" "+patient.firstname}}</h2>
          </div>
        </div>
      </a>
    </div>

    <!-- Content -->
    <div class="card-body" >
      <p-chart type="line" [data]="chartData" (onDataSelect)="selectData($event)"></p-chart>
    </div>
  </div>

  <div class="col-md-6 col-md-push-3 ml-5 mr-5 mt-5 jumbotron text-center" *ngIf="noData">
    <h1>No data found for this patient!</h1>
    <p class="lead">This patient has no data to create an EKG.</p>
    <hr class="my-4">
    <p>Press Go back button to go see another patient, or contact this one for an appointment.</p>
    <div class="col-md-6 col-md-push-3">
      <button class="btn btn-danger btn-lg"  (click)="goBack()" type="button">Go back</button>
      <button class=" ml-2 btn btn-info btn-lg"  (click)="openNewRequestDialog(appointment)" type="button">Set Appointment</button>
    </div>
  </div>

  <div *ngIf="message" class="alert alert-info" role="alert">{{message}}</div>
