<app-menu [numberOfAppointments]="numberOfAppointments"></app-menu>


  <div class="card gradient-card">
    <div class="card-image">
      <a>
        <div class="text-black d-flex h-100 mask blue-gradient-rgba">
          <div class="first-content align-self-center p-3">
          <h2 class="card-title">{{patient.lastname+" "+patient.firstname}}</h2>
          </div>
        </div>
      </a>
    </div>

    <!-- Content -->
    <div class="card-body">
      <p-toast class="mb-2"></p-toast>
      <p-chart type="line" [data]="chartData" (onDataSelect)="selectData($event)"></p-chart>
    </div>
  </div>

  <div *ngIf="message" class="alert alert-info" role="alert">{{message}}</div>
