<app-menu></app-menu>
<div class="container" style="font-size: 20px">
  <div  class="row">
    <div class="col-md-12 mb-2">
      <div class="alert alert-danger" role="alert" *ngIf="!emailToResetPassword && emailField.touched">{{message}}</div>
      <div class="alert alert-success" role="alert" *ngIf="sent">{{emailMessage}}</div>
    </div>
    <div class="col-md-12 mb-2">
      <mat-form-field>
        <mat-label>Email address</mat-label>
        <input matInput #emailField="ngModel" type="email" name="emailToResetPassword" [(ngModel)]="emailToResetPassword" required>
      </mat-form-field>
    </div>
    <button mat-raised-button color="accent" target="_blank" [disabled]="!emailToResetPassword" (click)="emailSent()">Send</button>
  </div>
</div>
