
.container{

  margin-top: 100px;
}

.mat-raised-button
{
  display:inline;
  left: 75%;
  justify-content: right;
  align-items: center;
}


mat-form-field {
  margin-left: 25rem !important;
  width: calc(100% - 50rem) !important;
}
.alert
{
  text-align: center;
  margin-left: 200px;
  margin-right:200px;
}

