<app-menu></app-menu>
<div class="container" style="font-size: 20px">
  <div  class="row">
    <div class="col-md-12 mb-2">

      <div *ngIf="emailMessage" class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{emailMessage}}</strong>
       </div>

    </div>
    <div class="col-md-12 mb-2">
      <mat-form-field>
        <mat-label>Email address</mat-label>
        <input matInput #emailField="ngModel" type="email" name="emailToResetPassword" [(ngModel)]="emailToResetPassword" required>
      </mat-form-field>
    </div>
    <button mat-raised-button color="accent" target="_blank" [disabled]="!emailToResetPassword" (click)="emailSent()">Send</button>
  </div>
</div>
