<body>

<div class="container">
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="d-block w-100" [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="d-block w-100" [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="center-block" class="picsum-img-wrapper">
        <img class="d-block w-100" [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="center-block" [src]="images[3]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="d-block w-100" [src]="images[4]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<section class="pricing py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h6 class="card-price text-center"><span class="fas fa-heartbeat">About patiently</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free service</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Available 24h/day</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Home Medical Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Techinical Support</li>
            </ul>
            <button class="btn btn-block btn-primary text-uppercase"  routerLink="/register">Join our team!</button>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h6 class="card-price text-center"><span class="fas fa-ambulance">Ambulance Pickup</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>An arangement with local hospitals for having </li>
              <li>a delegated ambulance service for our clients</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Best medical equipment</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Available 24h/day</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Special emergency phone number</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free service</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Medical care given by your own doctor</li>
            </ul>
            <button  class="btn btn-block btn-primary text-uppercase" routerLink="/register">Join our team!</button>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h6 class="card-price text-center"><span class="fas fa-user-md">Our medical team</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Our team consists of doctors and nurses</li>
              <li><span>with at least 10 years experience</span></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>This service is private and doctors have to</li>
              <li><span>keep the data hidden.</span></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Home Medical Care</li>
            </ul>
            <button class="btn btn-block btn-primary text-uppercase"  routerLink="/register">Join our team!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
