<app-menu [numberOfAppointments]="numberOfAppointments"></app-menu>

<div style="display: flex">
<div class="container" *ngIf="patients.length > 0">

  <div class="container">
    <mat-form-field id="search">
      <mat-label><mat-icon>search</mat-icon>Search..</mat-label>
      <input matInput type="text" name="search" required  [(ngModel)]="search"  (change)="getPatientByName(search)">
    </mat-form-field>
  </div>

    <div *ngFor=" let pat of searchedPatient" class="col-md-12 mb-2">
      <table>
        <tr>
          <th><p>{{"Patient found: "+pat.lastname+" "+pat.firstname}}</p><p> </p></th>
          <th><button class=" btn btn-info" (click)="navigate($event,pat.id)">See ECG</button></th>
        </tr>
      </table>
    </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" (click)="previousPage()" id="previous">Previous</a></li>
      <li class="page-item"><a class="page-link" (click)="nextPage()" id="next">Next</a></li>
    </ul>
  </nav>

  <div class="col-md-6 mb-4" *ngFor="let p of patientsOnCurrentPage,let i=index">

    <div class="card gradient-card" id={{p.id}} (click)="navigate($event,p.id)">
        <div class="card-image">
          <a>
            <div class="text-black d-flex h-100 mask blue-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">{{p.lastname+" "+p.firstname}}</h3>
              </div>
              <div class="second-content align-self-center mx-auto text-center">
                <i class="far fa-heart fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

        <!-- Data -->
        <div class="third-content ml-auto mr-4 mb-2">
          <textarea class="md-textarea form-control" *ngIf="sendMessage"[(ngModel)]="message"></textarea>
          <div *ngIf="sendMessage" class=" ml-2 mt-2 row">
            <button class="ml-2 btn btn-success" (click)="send(p.id,message)">Send</button>
            <button class="ml-2 btn btn-dark" (click)="cancel()">Cancel</button>
          </div>
          <button type="button" class="btn btn-dark" *ngIf="!sendMessage" (click)="onClickSendMessage()">Send message</button>
          <button type="button" class="btn btn-primary" *ngIf="!sendMessage" (click)="openNewRequestDialog(appointment,p)">Set appointment</button>
        </div>

        <!-- Content -->
        <div class="card-body">
          <h4 class="text-uppercase font-weight-bold my-4">Press for Patient's ECG</h4>
        </div>

    </div>

  </div>
</div>

